/*
  featureList.css

  Styles for the FeatureList component.
*/


@import "tailwindcss";


/*
 * Utility for styling the header of the feature list.
 * This utility applies padding and text styles to the header.
 */
@utility featurelist-h2 {
  @apply pb-2 text-2xl;
}


/**
 * Utility for styling the list of features within the feature list.
 * This utility applies styles to the list and its markers.
 */
@utility feature-entry-list {
  @apply
    relative
    pl-6
    
    /* Style the list markers */
    before:absolute
    before:content-['→']
    before:left-0 
    before:text-blue-700
  ;
}
